{% extends 'blog/base.html' %}
{% load blog_tags %}
{% load bleach_tags %}

{% block content %}
  <article class="post">
    <aside class="actions">
      {% if user.is_authenticated %}
        <a title="Edit" name="edit" class="btn btn-default" href="{% url 'post_edit' slug=post.slug %}">
          {% include './icons/circle_pencil.svg' %}
        </a>
        {% if post.published_date %}
          <a title="Un-Publish" class="btn btn-default" href="{% url 'post_unpublish' slug=post.slug %}">
            {% include './icons/circle_cross.svg' %}
          </a>
        {% else %}
          <a title="Publish" class="btn btn-default" href="{% url 'post_publish' slug=post.slug %}">
            {% include './icons/circle_check.svg' %}
          </a>
          <a title="Delete" class="btn btn-default" href="{% url 'post_remove' slug=post.slug %}">
            {% include './icons/circle_trash.svg' %}
          </a>
        {% endif %}
      {% endif %}
    </aside>
    <h2>{{ post.title | bleach }}</h2>
    {% if post.published_date %}
      <time class="date">
        {{ post.published_date | date:"l, jS F Y"}}
      </time>
    {% endif %}
    <p>{{ post.text | md | safe }}</p>
  </article>
{% endblock %}
