{% extends 'blog/base.html' %}
{% load blog_tags %}
{% load bleach_tags %}

{% block content %}
  {% include 'blog/pagination.html' %}
  {% for post in page_obj %}
    <article class="post">
      <h2><a class="post-title-link" href="{% url 'post_detail' pk=post.pk %}">{{ post.title | bleach }}</a></h2>
      <time class="date">
        {{ post.published_date | date:"l, jS F Y"}}
      </time>
      <p>{{ post.text | md | safe }}</p>
    </article>
  {% endfor %}

  {% include 'blog/pagination.html' %}
{% endblock %}
